.custom-btn {
    background: #33C0EB !important;
    color: #fff !important;
    border: 2px solid #33C0EB !important;
    border-radius: 3px;
    padding: 5px 10px;
    text-transform: uppercase;
  }